.thumbnail img {
    max-height: 150px;
	
}
.thumbnail
{
	border:2px solid gray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:5px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.thumbnail:hover
{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
}


a
{
	color:white;
}

.navbar-default
{
	background-color:rgba(54, 226, 112,0.7);
	color:white;
	height:50px;
}
.navbar-brand
{
	color: white;
}

body
{
	background-color:rgb(242, 242, 242);
}


.main {
    width: 60%;
	
	margin: 50px auto;
}



.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
	height:40px;
	border-radius:8px;
	
}


.footer{
    color: white;
    border-top: 5px solid crimson;
    background-color: #c91d61;
    background: linear-gradient(20deg,crimson,crimson,purple); 
    background-size: 1000% 600% !important;
    -webkit-animation: changeColors 30s ease infinite;
    -moz-animation: changeColors 30s ease infinite;
    -o-animation: changeColors 30s ease infinite;
    animation: changeColors 30s ease infinite;
}

@-webkit-keyframes changeColors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
